[Unit]
Description=Comfi Beats Discord Bot
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/comfibeats
Environment="PATH=/root/.bun/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/bin/env bun index.js
Restart=always
RestartSec=5
EnvironmentFile=/root/comfibeats/.env

[Install]
WantedBy=multi-user.target
