{
    "guildId_here": {
        "guildName": "guildName_here",
        "roles": {
            "modRole": "modRoleID_here"
        },
        "channels": {
            "logChannel": "logChannelID_here"
        },
        "settings": {
            "defaultPlaylist": "example",
            "shuffle": true,
            "repeat": true,
            "autoVC": true,
            "autoPlay": true,
            "vcId": "defaultVoiceChannelID_here"
        }
    }
}
